{
  "pkgRoot": "dist/ng-simple-alert",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/exec", {
      "prepareCmd": "npx replace-json-property projects/ng-simple-alert/package.json version ${nextRelease.version} && npx replace-json-property package.json version ${nextRelease.version}",

    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "ng-simple-alert/package.json", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ]
}
